* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}
header {
  margin-top: 50px;
}
.wrapper {
  max-width: 1150px;
  margin: 0 auto;
}

.header_inner {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.menu_wrapper {
  flex-grow: 1;
  margin-right: 80px;
}

.menu_list {
  display: flex;
  justify-content: flex-end;
  gap: 35px;
  list-style: none;
}

.menu_link {
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  letter-spacing: 5px;
}

.first-block {
  margin-top: 100px;
}

.first-block-content_title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 50px;
  text-transform: uppercase;
  color: black;
}

.first-block-content_title span {
  color: #797777;
  margin-left: 43px;
}

.first-block-content_text {
  font-size: 16px;
}

.first-block_content_current-location {
  display: flex;
  gap: 20px;
}

.first-block_content_current-location img {
  width: 95px;
  height: 95px;
}

.first-block_content_current-location_content {
  text-transform: uppercase;
}

.first-block_content_current-location_content p {
  font-size: 14px;
}

.first-block_content_current-location_content span {
  font-size: 16px;
  font-weight: 600;
}
.first-block_inner {
  display: flex;
  justify-content: space-between;
}

.first-block_content {
  max-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-block_media {
  display: flex;
  gap: 8px;
}
.first-block_media_left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.line {
  display: block;
  margin-top: 0.5em auto;
  border-width: 1px;
  border-color: black;
}

.second-block {
  margin-top: 114px;
}
.second-block-title {
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.second-block-title-mini {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.second-block_info {
  display: flex;
  gap: 52px;
}

.second-block_info_wrapper .second-block-title-mini {
  color: #bb5337;
}

.second-block_info_foto {
  padding-top: 18px;
  padding-bottom: 18px;
}

.works-block{
  margin-top: 100px;
}

.works-block_inner{
  display: flex;
}

.works-block_first-block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 25px;
}

.works-block_title{
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

.works-block_second-block{
  margin-right: 47px;
}

.works-block_second-block img{
  height: 100%;
  object-fit: cover;
}

.works-block_third-block{
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;
  column-gap: 24px;
}

.works-block_third-block:last-child{
  flex-basis: 100%;
  width: 100%;
}

.footer{
  margin-top: 114px;
  padding-bottom: 114px;
}

.footer_title{
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer_contacts{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_contacts_phone{
  font-size: 22px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.footer_contacts_email{
  font-size: 22px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.footer-contacts_profile{
  display: flex;
  gap: 34px;
  max-width: 385px;
}

.footer-profile_media img{
  width: 104px;
  height: 104px;
  border-radius: 50%;
}

.footer-profile_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-profile_content p{
  margin: 0;
  font-weight: 15px;
  font-style: italic;
  text-transform: uppercase;
}

.footer-profile_content_logo{
margin-left: auto;
}

.footer-copyrigth{
  margin-top: 114px;
}

.footer-copyrigth_text{
  font-size: 14px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
}

.modal.active{
 display: block;
}

/*//